.header {
  width: 100%;
  height: 50px;
  background: $primary-color;
  color: $white-color;

  .title {
    margin-left: 30px;
    line-height: 50px;
    font-size: $very-big-font;
  }
  .user-panel {
    float: right;
    line-height: 30px;
    padding-left: 20px;
    border-left: 1px solid $light-white-color;
    cursor: pointer;
    transition: .3s;

    &:hover {
      color: $light-grey-color;
    }

    .option {
      padding-left: 5px;
      font-weight: $light-font;
    }
  }
}

@media screen and (max-width: 769px) {
  .user-panel {
    margin: 10px 20px 0 0;
    .option {
      display: none;
    }
  }
}

@media screen and (min-width: 769px) {
  .user-panel {
    margin: 10px 30px 0 0;
  }
}