.nav-container {
  background: $white-color;
  border-bottom: 1px solid $grey-color;
  .navigation {
    margin: 0 auto;
    padding-top: 30px;

    .component-title {
      font-size: $very-big-font;
      text-transform: uppercase;
      padding-bottom: 20px;
    }

    .nav {
      list-style: none;

      .nav-option {
        display: inline-block;
        cursor: pointer;
        outline: none;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        transition: .3s;

        &:hover {
          background: $content-color;
          border-top: 1px solid $grey-color;
          border-left: 1px solid $grey-color;
          border-right: 1px solid $grey-color;
          border-top-right-radius: 10%;
          border-top-left-radius: 10%;
        }

        &-active {
          background: $content-color;
          border-top: 1px solid $grey-color;
          border-left: 1px solid $grey-color;
          border-right: 1px solid $grey-color;
          border-top-right-radius: 10%;
          border-top-left-radius: 10%;
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .nav-container {
    height: 131px;
    .navigation {
      width: 88%;
      .nav {
        display: block;
        .nav-option {
          font-size: $big-font;
          padding: 10px 50px 5px 50px;

          &:nth-child(2) {
            float: right;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .nav-container {
    height: 120px;
    .navigation {
      width: 75%;
      .nav {
        .nav-option {
          padding: 5px 15px 5px 15px;
        }
      }
    }
  }
}