// Orders

.column-names {
  width: 100%;
  line-height: 40px;
  margin-top: 20px;

  .name {
    display: inline-block;
  }
}

// Order

.order {
  width: 100%;
  background: $white-color;
  border: 1px solid $light-grey-color;
  border-radius: 4px;
  margin-bottom: 20px;

  .basic {
    line-height: 30px;
    cursor: pointer;

    .order-prop {
      display: inline-block;
      width: 30%;
      margin: 5px 0 5px 0;
      padding-left: 10px;
      &:nth-child(n + 2) {
        border-left: 1px solid $light-grey-color;
      }
    }

    .advanced-arrow {
      float: right;
      line-height: 40px;
      padding: 0 10px;
      cursor: pointer;
      transition: 0.3s;
    }
  }

  .advanced {
    border-top: 1px solid $light-grey-color;

    .meal-column-names {
      margin: 90px 0 20px 0;

      .meal-properties {
        line-height: 20px;

        &:nth-child(odd) {
          background-color: $rose-white-color;
        }
        .meal {
          .name {
            display: inline-block;
            margin: 5px 0 5px 0;
            vertical-align: top;
          }
        }
      }
    }
  }
}

// Steps

.status-panel {
  float: right;
  .status-title {
    float: left;
    padding: 8px 10px 8px 0;
  }

  .status {
    display: inline-block;

    .step {
      position: relative;
      float: left;
      width: 120px;
      margin: 0 1px 0 0;
      padding: 8px 0 8px 0;
      text-align: center;
      font-size: $small-font;
      background-color: $light-grey-color;
      color: #777;
      cursor: pointer;

      &::after,
      &::before {
        content: " ";
        position: absolute;
        top: 0;
        right: -17px;
        width: 0;
        height: 0;
        border-top: 19px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 17px solid $light-grey-color;
        z-index: 2;
      }

      &::before {
        right: auto;
        left: 0;
        border-left: 17px solid $white-color;
        z-index: 0;
      }

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &:first-child:before {
        border: none;
      }

      &:last-child:after {
        border: none;
      }

      .status-bar {
        i {
          padding-right: 4px;
        }
      }

      &-current {
        background-color: $dark-white-color;
        color: $primary-color;

        &::after,
        &::before {
          border-left: 17px solid $dark-white-color;
        }
        &:first-child:before {
          border: none;
        }

        &:last-child:after {
          border: none;
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .basic {
    .order-prop {
      &:nth-child(1) {
        width: 25%;
      }
      &:nth-child(2) {
        width: 40%;
      }
      &:nth-child(3) {
        width: 10%;
      }
    }
  }

  .column-names {
    .name {
      padding-left: 10px;
      &:nth-child(1) {
        width: 25%;
      }
      &:nth-child(2) {
        width: 40%;
      }
      &:nth-child(3) {
        width: 10%;
      }
    }
  }

  .order {
    .status-panel {
      float: none;

      .status {
        .status-title {
          float: none;
        }
        .step {
          &:nth-child(3) {
            display: none;
          }
          &:nth-child(4) {
            display: none;
          }
        }
      }
    }
    .col-4 {
      width: 100%;
      .button {
        width: 100%;
      }
    }
    .col-8 {
      width: 100%;
    }
  }

  .meal-column-names {
    .column-names {
      .name {
        &:nth-child(1) {
          padding-left: 18px;
          width: 40%;
        }
        &:nth-child(2) {
          width: 38%;
        }
        &:nth-child(3) {
          width: 10%;
        }
      }
    }
    .meal-properties {
      .selected {
        background-color: $light-orange-color;
      }
      .meal {
        padding: 5px 10px 5px 10px;

        .name {
          padding-left: 10px;
          &:nth-child(1) {
            width: 40%;
          }
          &:nth-child(2) {
            width: 40%;
          }
          &:nth-child(3) {
            width: 10%;
          }
        }
        .button-with-icon {
          display: none;
        }
        .mobile-option {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 50px;
          text-align: center;
          background-color: $dark-grey-color;
          z-index: 10;

          &-button {
            display: inline-block;
            width: 49%;
            line-height: 40px;
            font-size: $normal-font;
            font-weight: 100;
            letter-spacing: 2px;
            color: $white-color;
            padding: 0 20px 0 20px;
            margin: 5px 0 5px 0;

            &:first-child {
              border-right: 1px solid $white-color;
            }
            i {
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .basic {
    .order-prop {
      width: 30%;
    }
  }

  .column-names {
    .name {
      width: 30%;
      padding-left: 10px;
    }
  }
  .meal-column-names {
    .meal-properties {
      padding: 10px 10px 10px 0;
      .meal {
        .name {
          width: 30%;
          &:nth-child(1) {
            padding-left: 10px;
          }
          &:nth-child(2) {
            padding-left: 12px;
          }
          &:nth-child(3) {
            padding-left: 17px;
          }
        }
  
        .mobile-option {
          display: none;
        }
      }
    }
  }
}
