@import "./_variables.scss";

.app {
  min-height: 100%;
  position: relative;
}

.content {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.button {
  line-height: 35px;
  background: $white-color;
  padding: 0 20px 0 20px;
  border: 1px solid $grey-color;
  border-radius: 4px;
  font-size: $small-font;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

  i {
    padding-right: 10px;
  }

  &:hover {
    background: $primary-color;
    color: $white-color;
  }

  &-reverse {
    background: $primary-color;
    color: $white-color;

    &:hover {
      background: $white-color;
      color: $black-color;
    }
  }

  &-cancel {
    border: 1px solid transparent;
    background: transparent;
    color: $light-grey-color;

    &:hover {
      color: $black-color;
      background: transparent;
      border: 1px solid transparent;
    }
  }

  &-with-icon {
    float: right;
    line-height: 30px;
    padding: 0 10px;
    background: transparent;
    color: $light-grey-color;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: $black-color;
      border: 1px solid $black-color;
      border-radius: 4px;
    }
  }
}

.row {
  padding: 30px 0 0 0;
}

.col {
  &1-2 {
    float: left;
    padding: 10px;
    width: 50%;
  }

  &-4 {
    float: left;
    padding: 10px;
    width: 30%;
  }
  &-8 {
    float: left;
    padding: 10px;
    width: 70%;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
}

@media screen and (max-width: 769px) {
  .row {
    .create-order-button {
      display: block;
      width: 80%;
      margin: 0 auto;
    }
  }
  .content {
    width: 95%;
  }
}
