// Colors
$primary-color: rgb(0, 142, 194);
$white-color: white;
$light-white-color: rgba(255, 255, 255, 0.6);
$content-color: rgba(232, 249, 255, 1);
$dark-content-color: rgba(209, 232, 240, 1);
$grey-color: rgba(184, 184, 184, 0.467);
$light-grey-color: rgba(211, 211, 211, 0.761);
$black-color: rgba(0, 0, 0, 0.761);
$rose-white-color: rgba(245, 245, 245, 1);
$light-orange-color: rgb(255, 232, 184);
$dark-white-color: rgb(243, 243, 243);
$dark-grey-color: #555;

// Font size's
$small-font: 14px;
$normal-font: 16px;
$big-font:20px;
$very-big-font:26px;

// Font weight
$light-font: 100;