<div class="order">
  <div class="basic" (click)="toggleAdvanced()">
    <span class="order-prop">{{ order.supplierName }}</span>
    <span class="order-prop">{{ order.owner }}</span>
    <span class="order-prop">{{ order.price }}</span>
    <i class="fa fa-chevron-down advanced-arrow" aria-hidden="true" *ngIf="!advancedOpened"></i>
    <i class="fa fa-chevron-up advanced-arrow" aria-hidden="true" *ngIf="advancedOpened"></i>
  </div>
  <div class="advanced" *ngIf="advancedOpened">
    <div class="col-4">
      <button *ngIf="!oDelivered"  class="button button-reverse" (click)="openModal(template)" [disabled]="oFinalized || oOrdered || oDelivered">
        <i class="fa fa-plus fa-1x" aria-hidden="true"></i>
        <span>Add meal</span>
      </button>
    </div>
    <div class="col-8">
      <div class="status-panel">
        <span class="status-title">Status:</span>
        <div class="status">
          <div class="step" [class.step-current]="oOpened" [class.disabled]="oFinalized || oOrdered || oDelivered">
            <span class="status-bar">
              <i class="fa fa-pencil" aria-hidden="true"></i>Opened</span>
          </div>
          <div class="step" (click)="orderFinalized(index)" [class.step-current]="oFinalized" [class.disabled]="oOrdered || oDelivered">
            <span class="status-bar">
              <i class="fa fa-lock" aria-hidden="true"></i>Finalized</span>
          </div>
          <div class="step" (click)="orderOrdered(index)" [class.step-current]="oOrdered" [class.disabled]="oDelivered">
            <span class="status-bar">
              <i class="fa fa-phone" aria-hidden="true"></i>Ordered</span>
          </div>
          <div class="step" (click)="orderDelivered(index)" [class.step-current]="oDelivered" [class.disabled]="oDelivered">
            <span class="status-bar">
              <i class="fa fa-check" aria-hidden="true"></i>Delivered</span>
          </div>
        </div>
      </div>
    </div>
    <div class="meal-column-names">
      <div class="column-names">
        <span class="name">Meal</span>
        <span class="name">Orderer</span>
        <span class="name">Price</span>
      </div>
      <div class="meal-properties" *ngFor="let mealEl of order.meals; let i = index">
        <app-meal [meal]="mealEl" [index]="i" [orderIndex]="index" [orderFinalized]="oFinalized" [orderOrdered]="oOrdered" [orderDelivered]="oDelivered"></app-meal>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="newMealForm" (submit)="addNewMeal()">
    <div class="modal-body">
      <div class="form-group">
        <label for="restaurant">Meal Name</label>
        <input type="text" name="meal" formControlName="meal" class="form-control" autocomplete="off" placeholder="Name of the meal">
      </div>
      <div class="form-group">
        <label for="owner">Orderer Name</label>
        <input type="text" name="orderer" formControlName="orderer" class="form-control" autocomplete="off" placeholder="Name of the orderer">
      </div>
      <div class="form-group">
        <label for="owner">Price</label>
        <input type="number" name="price" formControlName="price" class="form-control" autocomplete="off" placeholder="e.g. 20.00">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="button button-cancel" (click)="modalRef.hide()">Cancel</button>
      <input type="submit" class="button button-reverse" [disabled]="!newMealForm.valid" value="Add">
    </div>
  </form>
</ng-template>