<div class="meal" [class.selected]="mobileOrderMenu" [class.disabled]="orderDelivered || orderFinalized || orderOrdered" (click)="openMobileMenu($event)">
  <span class="name">{{ meal.name }}</span>
  <span class="name">{{ meal.orderer }}</span>
  <span class="name">{{ meal.price }}</span>
  <button *ngIf="!orderDelivered" class="button-with-icon" [disabled]="orderFinalized || orderOrdered || orderDelivered" (click)="onDeleateMeal(index)">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
  </button>
  <button *ngIf="!orderDelivered" class="button-with-icon" [disabled]="orderFinalized || orderOrdered || orderDelivered">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  </button>
  <div *ngIf="!orderDelivered && mobileOrderMenu" class="mobile-option">
    <span class="mobile-option-button">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</span>
    <span class="mobile-option-button" (click)="onDeleateMeal(index)">
      <i class="fa fa-trash-o" aria-hidden="true"></i>Delete</span>
  </div>
</div>