<div class="app">
  <app-header></app-header>
  <div class="nav-container">
    <div class="navigation">
      <div class="component-title">{{ title }}</div>
      <ul class="nav">
        <li class="nav-option" routerLink="/orders" routerLinkActive="nav-option-active" (click)="changeTitle('Orders')">Active</li>
        <li class="nav-option" routerLink="/history" routerLinkActive="nav-option-active" (click)="changeTitle('History')">History</li>
      </ul>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>