<div class="row">
    <div class="column-names">
      <span class="name">Order from</span>
      <span class="name">Owner</span>
      <span class="name">Price</span>
    </div>
    <app-order *ngFor="let orderEl of ordersHist" [order]="orderEl"></app-order>
  </div>