<div class="row">
  <button class="button create-order-button" (click)="openModal(template)">
    <i class="fa fa-plus fa-1x" aria-hidden="true"></i>
    <span>Create Order</span>
  </button>
  <div class="column-names">
    <span class="name">Order from</span>
    <span class="name">Owner</span>
    <span class="name">Price</span>
  </div>
  <app-order *ngFor="let orderEl of orders; let i = index" [order]="orderEl" [index]="i"></app-order>
</div>

<!-- Modal -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create Order</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="newOrderForm" (submit)="addNewOrder()">
    <div class="modal-body">
      <div class="form-group">
        <label for="restaurant">Orders from</label>
        <input type="text" name="restaurant" formControlName="restaurant" class="form-control" autocomplete="off" placeholder="Name of the restaurant">
      </div>
      <div class="form-group">
        <label for="owner">Owner Name</label>
        <input type="text" name="owner" formControlName="owner" class="form-control" autocomplete="off" placeholder="Name of the restaurant">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="button button-cancel" (click)="modalRef.hide()">Cancel</button>
      <input type="submit" class="button button-reverse" [disabled]="!newOrderForm.valid" value="Create">
    </div>
  </form>
</ng-template>