* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: rgba(232, 249, 255, 1);
  height: 100%;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}


@import './assets/styles/_common.scss';